/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "  ";
  display-window: "﩯 ";
  display-combi: "  ";
  font: "JetBrains Mono 12";
}
@theme "themes/nord.rasi"
